.columns {
    margin: 0px;
    height: 70vh;
    display: flex;
    justify-content: center;

    .leftColumn {
        width: 40%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        background-color: aquamarine;

        .name {
            width: 60%;
            font-size: 200%;
            border: solid black 1px;
            border-radius: 10px;
            background-color: lightgray;
        }

        .imagebox {
            width: 60%;
            aspect-ratio: 1;
            border: solid black 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                width: 70%;
            }
        }
        


        .buttons {
            width: 60%;
            height: 8%;
            display: flex;
            justify-content: space-between;
            
            .button2 {
                width: 45%;
                height: 100%;
                border-radius: 5px;

                .leftArrow {
                    width: 20%;
                    opacity: 80%;
                }
        
                .rightArrow {
                    transform: scaleX(-1);
                    width: 20%;
                    opacity: 80%;
                }
            }
    

        }
    }

    .rightColumn {
        width: 40%;
        background-color: royalblue;
    }
}