.columns {
    margin: 0px;
    height: 70vh;
    display: flex;
    justify-content: center;

    .leftColumn {
        width: 40%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        background-color: aquamarine;

        .imagebox {
            width: 60%;
            aspect-ratio: 1;
            border: solid black 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                width: 70%;
            }
        }

        .name {
            width: 60%;
            font-size: 200%;
            border: solid black 1px;
            border-radius: 10px;
            background-color: lightgray;
        }
        
        .typesbox {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            width: 60%;
            margin-bottom: 2%;

            .typesboxInner {
                display: flex;
                flex-flow: row nowrap;
                margin-top: 2%;
                width: 90%;

                .type {
                    margin-right: 3%;
                    padding: 1%;
                    width: 20%;
                    background-color: burlywood;
                    border: solid black 1px;
                    border-radius: 5px;
                }
            }
        }

        .buttons {
            width: 40%;
            height: 8%;
            display: flex;
            justify-content: space-between;
            
            .button2 {
                width: 45%;
                height: 100%;
                border-radius: 5px;

                .leftArrow {
                    width: 20%;
                    opacity: 80%;
                }
        
                .rightArrow {
                    transform: scaleX(-1);
                    width: 20%;
                    opacity: 80%;
                }
            }
    

        }
    }

    .rightColumn {
        width: 40%;
        background-color: royalblue;
    }
}